#ifndef SECRETS_H
#define SECRETS_H

const char* WIFI_SSID = "your-ssid";
const char* WIFI_PASS = "your-password";

const char* WEATHER_URL = "https://api.open-meteo.com/v1/forecast?latitude=YOUR_LAT&longitude=YOUR_LON&current=temperature_2m";

#endif
